# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.log

# Node / Frontend
node_modules/
dist/
.eslintcache

# Local Environment
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
.gemini/
